<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>neko_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{182,108}</string>
                <key>textureRect</key>
                <string>{{249,1},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{182,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>neko_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{182,108}</string>
                <key>textureRect</key>
                <string>{{129,1},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>neko.png</string>
            <key>size</key>
            <string>{358,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e1fd0ceb5a441cf17564d76cb9403e:3e196ff856c6ef33706c8acaf773d672:b8a126a3cbd7f9cbcaf9f3dd7fc40891$</string>
            <key>textureFileName</key>
            <string>neko.png</string>
        </dict>
    </dict>
</plist>
