<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chopstick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,45}</string>
                <key>spriteSourceSize</key>
                <string>{105,45}</string>
                <key>textureRect</key>
                <string>{{1,125},{105,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,122}</string>
                <key>spriteSourceSize</key>
                <string>{105,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sushi.png</string>
            <key>size</key>
            <string>{107,171}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd637f773821a58fdab07a487ede3fb:b1f84f470ec9dcea14d35fd8670d061a:fed5e61a3335d79e87740786ff0a5f9e$</string>
            <key>textureFileName</key>
            <string>sushi.png</string>
        </dict>
    </dict>
</plist>
